{% extends 'for_content.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="breadcrum">
        <ul>
            <li><a href="{% url 'index' %}">Home |</a></li>
            <li class="active"><a href="{% url 'collection' collection.pk %}">{{ collection.name }}</a></li>
        </ul>
    </div>
    <div id="frmProdListings">
        <div class="elegent innerPageElegent bedroom">
            <div class="leftImg">
                <img src="/media/{{ collection.image }}" alt="" height="300" width="300">
            </div>
            <div class="rightTxt">
                <div class="innerTxt">
                    <h1><br>{{ collection.name }}</h1>
                    <h4>{{ collection.description }}</h4>
                </div>
            </div>
        </div>
        <ul class="right-left-list">
            {% for subcategory in types %}
            <li>
                <a href="{% url "type" subcategory.pk %}">
                    <div class="imgleft"><img src="/media/{{ subcategory.image }}" width="800" height="800" alt=""></div>
                    <div class="textRight">
                        <h2>{{ subcategory.name }}</h2>
                        <p>{{ subcategory.description }}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        <style>
            .design-derection {
                display: none;
            }

            .design-derection:nth-child(-n+3) {
                display: block;
            }

            .design-derection:nth-child(-n+4) {
                display: block;
            }
        </style>
        <script type="text/javascript">
            $(".view-more").click(function (e) {
                $(".design-derection:visible").last().next().show("slow");

                if ($(".design-derection:hidden").size() === 0) {
                    $("#loadMoreRanges").hide();
                }

            });
            $(function () {
                if ($(".design-derection:hidden").size() === 0) {
                    $("#loadMoreRanges").hide();
                }
            });
        </script>
    </div>
</div>
{% endblock %}