<div class="topfooter">
    <div class="container">
<!-- About -->
        <div class="footerList">
            <h3>About</h3>
            <ul class="about">
                <li><a href="{% url 'about_us' %}">Our Story</a></li>
                <li><a href="{% url 'ethos' %}">Ethos</a></li>
                <li><a href="{% url 'design_studio' %}">Design Studio</a></li>
                <li><a href="{% url 'fulfilment' %}">Fulfilment</a></li>
            </ul>
        </div>
        
<!-- Terms -->
        <div class="footerList">
            <h3>Terms</h3>
            <ul class="about">
                <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
                <li><a href="{% url 'cookies' %}">Cookies</a></li>
            </ul>
        </div>

{# Address #}
        <div class="footerList">
            <span>86-90 Paul Street, London, England, United Kingdom, EC2A 4NE</span>
        </div>

<!-- Social -->
{#        <div class="footerList social-media">#}
{#            <h3>Follow us on Social Media</h3>#}
{#            <ul class="social-icon">#}
{#                <li><a href="{{ facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>#}
{#                <li><a href="{{ instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>#}
{#                <li><a href="{{ twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>#}
{#                <li><a href="{{ pinterest }}"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>#}
{#                <li><a href="{{ google_plus }}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>#}
{#            </ul>#}
{#        </div>#}
        
        <style>
            .modal-box {
                display: none;
                position: fixed;
                z-index: 1000;
                width: 50%;
                background: white;
                border-radius: 4px;
                box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
                border: 1px solid rgba(0, 0, 0, 0.1);
                background-clip: padding-box;
            }

            #popup{ width:90%; max-width:600px;}

            .modal-box header,
            .modal-box .modal-header {
                padding: 1.25em 1.5em;
                border-bottom: 1px solid #ddd;
            }

            .modal-box header h3,
            .modal-box header h4,
            .modal-box .modal-header h3,
            .modal-box .modal-header h4 { margin: 0; }

            .modal-box .modal-body { padding: 2em 1.5em; }

            .modal-box footer,
            .modal-box .modal-footer {
                padding: 1em;
                border-top: 1px solid #ddd;
                background: rgba(0, 0, 0, 0.02);
                text-align: right;
            }

            .modal-overlay {
                opacity: 0;
                filter: alpha(opacity=0);
                position: fixed;
                top: 0;
                left: 0;
                z-index: 900;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 1) !important;
            }

            a.close {
                line-height: 1;
                font-size: 1.5em;
                position: absolute;
                top: 5%;
                right: 2%;
                text-decoration: none;
                color: #bbb;
            }

            a.close:hover {
                color: #222;
                -webkit-transition: color 1s ease;
                -moz-transition: color 1s ease;
                transition: color 1s ease;
            }
            .searchBtn{
                width: auto;
                padding: 8px 25px;
                border: none;
                background: #4b5251;
                color: #fff;
                font-size: 13px;
                text-transform: uppercase;
                cursor: pointer;
            }
            .row{
                position: relative;
                width: 100%;
                display: inline-block;
                margin-bottom: 25px;
                vertical-align: top;
            }

            #name,#email{ width:93%; padding:10px 3%;}
            .js-modal-close{ color:#000000;}

            @media (min-width: 32em) {
                .modal-box { width: 50%;}
            }
            @media only screen and (max-width:560px) {
                .modal-box { width: 100%; }
            }
        </style>
    </div>
</div>
<div class="lastFooter">
    <p>HomeComfortEurope 2022, All Rights Reserved.</p>
</div>