{% load static %}

<div class="logosection">
    <div class="container">
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'mainapp/images/logo.jpg' %}" alt="logo"></a>
        </div>

        <!-- Top links -->
        <div class="topSection">
            <ul class="top-links">
                <li><a href="{% url 'about_us' %}" title="About Us">About Us</a></li>
                <li><a href="{% url 'news' %}" title="News">News</a></li>
                <!-- Login form -->
                {% if request.user.is_authenticated %}
                    <li class="account">
                        <a href="#">My Account</a>
                        <a href="#" class="mob-account">
                            <img src="{% static 'mainapp/images/profile.png' %}" alt="profile">
                        </a>
                        <div class="submenu-Div dropdownL">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                            <ul class="submenu">
                                <li><a href="{% url 'profile' %}">Account Details</a></li>
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}
                {% if request.user.is_anonymous %}
                  <li class="account">
                    <a href="javascript:void(0);">Login</a>
                    <a href="javascript:void(0);" class="mob-account">
                        <img src="{% static 'mainapp/images/profile.png' %}" alt="profile">
                    </a>
                    <div class="submenu-Div dropdownL login">
                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                        <form class="loginForm" name="frmLogin" id="loginForm" action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <input type="text" name="emailId" id="emailId" autocomplete="off" value="" placeholder="USERNAME">
                            </div>
                            <div class="row">
                                <input type="password" name="usrpassword" id="usrpassword" value="" placeholder="PASSWORD">
                            </div>
                            <div class="row">
                                <input type="submit" name="btnSubmit" value="Login" class="submitBtn">
                            </div>
                            <div class="row">
                                <p>Not Registered?<a href="{% url 'register' %}">Start Here</a></p>
                            </div>
                        </form>
                    </div>
                </li>
                {% endif %}

                <!-- Search -->
                <li class="srchWrp">
                    <a href="javascript:void(0)" class="srch"><span>Search</span><i class="fa fa-search" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)" class="srch mob-account"><span>Search</span><img src="{% static 'mainapp/images/search.png' %}"
                                                                                                  alt="Search"></a>
                    <form name="frmSearchResult" action="{% url 'search_result' %}" method="post">
                        {% csrf_token %}
                        <span class="search-field">
                           <input type="text" name="txtSearch" id="txtSearch" placeholder="Search"/>
                            <a href="javascript:void(0)" class="close"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </span>
                    </form>
                </li>
            </ul>
        </div>

        <nav>
            {# MAIN categories #}
            <ul class="navigation dropdown">
                <li><a href="{% url 'index' %}">Home</a></li>
                {# ALL categories #}
                <li class="mob-collection bg">
                    <a href="#">Collections</a>
                    <ul class="submenu">
                        <style>
                            .rangesSubMenu {
                                margin-left: 112px;
                                top: 0 !important;
                                display: block;
                                width: 500px;
                                padding: 10px;
                                min-height: 200px;
                            }

                            .rangesSubMenu > .leftList {
                                width: 60%;
                                float: left;
                            }

                            .rangeImageContainer {
                                width: 40%;
                                float: right;
                                display: none;
                                min-height: 200px;
                            }

                            .rangeImg {
                                width: 200px;
                                margin-bottom: 0;
                                height: 200px;

                            }

                            .rangeTitle {
                                background-color: #989b9e;
                                margin-top: -6px;
                                padding: 5px;
                                width: 190px;
                            }

                            .rangeTitleText {
                                width: 100%;
                                text-align: center;
                                color: #fff;
                            }
                        </style>
                        {% for type in links_menu.types %}
                            <li><a href="{% url 'type' type.pk %}" title="{{ type.name }}">{{ type.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {# Subcategories #}
                {% for category in categories %}
                    <li class="mob-collection bg">
                        <a href="{% url "collection" category.pk %}">{{ category.name }}</a>
                        <ul class="submenu">
                            {% for subcategory in category %}
                                {% if subcategory.category.pk == category.pk %}
                                    <li><a href="{% url "type" subcategory.pk %}" title="{{ subcategory.name }}">{{ subcategory.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                <li><a href="{% url 'ethos' %}">Ethos</a></li>
                <li><a href="{% url 'design_studio' %}">Design Studio</a></li>
                <li><a href="{% url 'fulfilment' %}">Fulfilment</a></li>
            </ul>
            <a class="mob-menu" href="javascript:void(0)">
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
            </a>
        </nav>

        <div class="clear"></div>
    </div>
</div>