{% extends 'for_content.html' %}
{% load static %}

{% block content %}
<a href="#top" id="bottom"></a>
<div class="container">
    <div class="first-content">
        <div class="left-content">
            <h1>From Small Things, Big Things Grow</h1>
            <p>Established in 2005 as a family-run business, Heritage furniture unites form and function with quality and affordability. Our signature collections are testament to innovative British design and a master level of craftsmanship. Every day, we tranform beautiful wood into extraordinary furniture.</p>
            <p>Read our brand's story <a href="{% url 'about_us' %}" class="readLink">here</a>.</p>
        </div>
        <div class="right-content"><img src="{% static 'mainapp/images/Heritage-Furniture-Wesbite-Visual-10.jpg' %}" alt="image"/></div>
        <div class="clear"></div>
    </div>
    <div class="elegent">
        
        <div class="slider-multi">
            <div class="item" style="background:#bcb7b3;">
                <div class="leftImg">
                    <img src="https://www.heritagefurnitureuk.com/return_image.php?base=L2hvbWUvaGVyaXRhZ2UvcHVibGljX2h0bWwvdXBsb2Fkcy9jYXRlZ29yeS1pbWFnZXMvQ0kyNzkyNzE1ODAyMTMwNjRfV2hhcmYtSW5kaXN0cmlhbC1ob21lcGFnZS1zbGlkZXIuanBn&w=400&h=400" alt="Wharf Oak Living &amp; Dining" width="400" height="400"/>
                </div>
                <div class="rightTxt">
                    <div class="innerTxt">
                        <h2>Modern Industrial Style</h2>
                        <h1>Wharf</h1>
                        Imbued with the rich, dark warmth and rustic appeal of rough-sawn solid oak, combined with sturdy black metal frames that lend each piece a loft-living-style industrial feel.<br />
                        <br/>				<input type="button" value="View Collection" name="view_collection" class="view-button" onclick="location.href = 'https://www.heritagefurnitureuk.com/category.php?c=Njk=';">
                    </div>
                </div>
            </div>
            
            <div class="item" style="background:#b6bab9;">
                <div class="leftImg">
                    <img src="https://www.heritagefurnitureuk.com/return_image.php?base=L2hvbWUvaGVyaXRhZ2UvcHVibGljX2h0bWwvdXBsb2Fkcy9jYXRlZ29yeS1pbWFnZXMvQ0k0NTIwMDE1ODAyMTMzMDVfQ2Fybm8tc2xpZGVyLmpwZw==&w=400&h=400" alt="Carno Oak Living &amp; Dining" width="400" height="400"/>
                </div>
                <div class="rightTxt">
                    <div class="innerTxt">
                        <h2>Timeless Parquet</h2>
                        <h1>Carno</h1>
                        There's a lot to admire in this expertly crafted range of naturally blond oak furniture. There's the suits-any decor natural warmth of the timber - with the unique grain patterns showcased through a protective layer of matt lacquer.<br />
                        <br/>				<input type="button" value="View Collection" name="view_collection" class="view-button" onclick="location.href = 'https://www.heritagefurnitureuk.com/category.php?c=NzA=';">
                    </div>
                </div>
            </div>
            
            <div class="item" style="background:#608693;">
                <div class="leftImg">
                    <img src="https://www.heritagefurnitureuk.com/return_image.php?base=L2hvbWUvaGVyaXRhZ2UvcHVibGljX2h0bWwvdXBsb2Fkcy9jYXRlZ29yeS1pbWFnZXMvQ0k5MDQ4MzE1ODAyMTM4NjdfU3VuYnVyeS1ob21lcGFnZS1zbGlkZXIuanBn&w=400&h=400" alt="Sunbury Painted Living &amp; Dining" width="400" height="400"/>
                </div>
                <div class="rightTxt">
                    <div class="innerTxt">
                        <h2>It's in the details</h2>
                        <h1>Sunbury</h1>
                        It's in the details. The solid parquet tops, the grooves on the doors and drawers, the beautifully turned legs on the smaller pieces, the cup drawer handles and silver-coloured door knobs.				<input type="button" value="View Collection" name="view_collection" class="view-button" onclick="location.href = 'https://www.heritagefurnitureuk.com/category.php?c=Njc=';">
                    </div>
                </div>
            </div>
            
            <div class="item" style="background:#8aaaa7;">
                <div class="leftImg">
                    <img src="https://www.heritagefurnitureuk.com/return_image.php?base=L2hvbWUvaGVyaXRhZ2UvcHVibGljX2h0bWwvdXBsb2Fkcy9jYXRlZ29yeS1pbWFnZXMvQ0k2NDU1NjE1ODAyMTM4OTBfUm91Z2gtU2F3bi1ob21wYWdlLXNsaWRlci5qcGc=&w=400&h=400" alt="Alba Rough Sawn Living &amp; Dining" width="400" height="400"/>
                </div>
                <div class="rightTxt">
                    <div class="innerTxt">
                        <h2>Modern Farmhouse Style</h2>
                        <h1>Alba</h1>
                        Our skilfully crafted rough sawn living and dining range offers traditional farmhouse style with a modern twist. With the warmth, durability and timeless good looks of solid oak, this is furniture that will last a lifetime.<br />
                        <br/>				<input type="button" value="View Collection" name="view_collection" class="view-button" onclick="location.href = 'https://www.heritagefurnitureuk.com/category.php?c=Njg=';">
                    </div>
                </div>
            </div>
        
        </div>
    
    
    
    
    </div>
    <div class="categoryList">
        <ul class="category-List">
            
            <li  >
                <div class="imgWrp">
                    <img src="https://www.heritagefurnitureuk.com/return_image.php?base=L2hvbWUvaGVyaXRhZ2UvcHVibGljX2h0bWwvdXBsb2Fkcy9jYXRlZ29yeS1pbWFnZXMvQ0k0NjY0NzE1ODAyMjA4MzJfQ29sbWFyLWhvbWVwYWdlLWJvdHRvbS5qcGc=&w=363&h=363" alt="Bedroom" />
                    
                    <div class="homeviewcollection" ><a href="https://www.heritagefurnitureuk.com/category.php?c=NA==&4">View Collection</a></div>
                </div>
                
                <div class="txtWrp">
                    <h1><a href="https://www.heritagefurnitureuk.com/category.php?c=NA==">Bedroom</a></h1>
                    <p>Rooms of dreams. Open your eyes to a bedroom transformation. From Scandi Cool to classic country living, this is where its at. Personalise with pops of colour.</p>		</div>
            
            </li>
            
            <li class="alternate" >
                
                <div class="txtWrp">
                    <h1><a href="https://www.heritagefurnitureuk.com/category.php?c=NQ==">Living Room</a></h1>
                    <p>Living room ranges which set standards high. A recognition of treasured traditional vibes, giving way to the modernity of the form and function associated with living easier.</p>		</div>
                <div class="imgWrp">
                    <img src="https://www.heritagefurnitureuk.com/return_image.php?base=L2hvbWUvaGVyaXRhZ2UvcHVibGljX2h0bWwvdXBsb2Fkcy9jYXRlZ29yeS1pbWFnZXMvQ0k3OTYxMTE1ODAyMjA3MTBfUm91Z2gtU2F3bi1ob21lcGFnZS1ib3R0b20uanBn&w=363&h=363" alt="Living Room" />
                    <div class="homeviewcollection" ><a href="https://www.heritagefurnitureuk.com/category.php?c=NQ==&5">View Collection</a></div>
                
                </div>
            
            </li>
            
            <li  >
                <div class="imgWrp">
                    <img src="https://www.heritagefurnitureuk.com/return_image.php?base=L2hvbWUvaGVyaXRhZ2UvcHVibGljX2h0bWwvdXBsb2Fkcy9jYXRlZ29yeS1pbWFnZXMvQ0kwNjI3ODE1ODAyMjA4MTlfU2tpZW4tRGluaW5nLWhvbWVwYWdlLWJvdHRvbS5qcGc=&w=363&h=363" alt="Dining Room" />
                    
                    <div class="homeviewcollection" ><a href="https://www.heritagefurnitureuk.com/category.php?c=Mw==&3">View Collection</a></div>
                </div>
                
                <div class="txtWrp">
                    <h1><a href="https://www.heritagefurnitureuk.com/category.php?c=Mw==">Dining Room</a></h1>
                    <p>Pull up a chair, dinner is served. Traditional, mid century or contemporary, the only constant is quality. Pine, oak or leather, curate the elements for a special space.</p>		</div>
            
            </li>
        </ul>
    </div>
    <div class="categoryList">
        <style>
            #fade {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                z-index: 1001;
                -moz-opacity: 0.8;
                opacity: .80;
                filter: alpha(opacity=80);
            }

            #video {
                display: none;
                position: absolute;
                /*top: 50%;*/
                left: 50%;
                max-width: 1200px;
                max-height: 680px;
                margin-left: -600px;
                margin-top: -180px;
                border: 2px solid #FFF;
                background: #FFF;
                z-index: 1002;
                overflow: visible;
            }

            #boxclose {
                float: right;
                cursor: pointer;
                color: #fff;
                border: 1px solid #AEAEAE;
                border-radius: 3px;
                background: #222222;
                font-size: 31px;
                font-weight: bold;
                display: inline-block;
                line-height: 0;
                padding: 11px 3px;
                position: absolute;
                right: 2px;
                top: 2px;
                z-index: 1002;
                opacity: 0.9;
            }

            .boxclose:before {
                content: "×";
            }

            #fade:hover ~ #boxclose {
                display:none;
            }
        
        </style>
        
        <div id="video">
            <a class="boxclose" id="boxclose" onclick="videobox_close();"></a>
            <video id="VisaChipCardVideo" width="1200" controls>
                <source src="{% static 'mainapp/video/FINAL_Promo_heritage.mp4' %}" type="video/mp4">
                <!--Browser does not support <video> tag -->
            </video>
        </div>
        <div id="fade" onClick="videobox_close();"></div>
        <ul class="download-List">
            <li>
                <a href="#video" onclick="videobox_open();">
                    <div class="imgWrp">
                        <img src="{% static 'mainapp/images/Video-image-original.jpg' %}" alt="video">
                        <div class="topText" style="width: 100%;">
                            <h4>NEW WEBSITE FEATURES</h4>
                            <h1>WATCH</h1>
                            <img src="{% static 'mainapp/images/play-button.png' %}" alt="" class="firstImg">
                        </div>
                    </div>
                </a>
            </li>
            
            
            
            <li>
                <a href="#imgWrp">
                    <div class="imgWrp">
                        <img src="{% static 'mainapp/images/stocklist-bg.jpg' %}" alt="brochure">
                        <div class="topText">
                            <h4>Download</h4>
                            <h1>Brochures</h1>
                            <img src="{% static 'mainapp/images/book-white.png' %}" alt="" class="secImg">
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="{% url 'become_a_stocklist' %}">
                    <div class="imgWrp">
                        <img src="{% static 'mainapp/images/stockilist-1.jpg' %}" alt="brochure">
                        <div class="topText">
                            <h4>Become a</h4>
                            <h1>Stockist</h1>
                            <img src="{% static 'mainapp/images/gift-white.png' %}" alt="" class="thirdImg">
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        
        <script>
            window.document.onkeydown = function(e) {
                if (!e) {
                    e = event;
                }
                if (e.keyCode === 27) {
                    videobox_close();
                }
            }

            function videobox_open() {
                if ($(window).width() < 1200) {
                    var win = window.open('https://www.heritagefurnitureuk.com/video/FINAL_Promo_heritage.mp4', '_blank');
                    if (win) {
                        //Browser has allowed it to be opened
                        win.focus();
                    }
                }
                else {

                    var videoBoxVideo = document.getElementById("VisaChipCardVideo");
                    //window.scrollTo(0, 0);
                    document.getElementById('video').style.display = 'block';
                    document.getElementById('fade').style.display = 'block';
                    videoBoxVideo.play();

                }
            }

            function videobox_close() {
                var videoBoxVideo = document.getElementById("VisaChipCardVideo");
                document.getElementById('video').style.display = 'none';
                document.getElementById('fade').style.display = 'none';
                videoBoxVideo.pause();
            }
        </script>
    </div>
</div>
{% endblock %}
