{% extends 'for_content.html' %}
{% load static %}

{% block content %}
    <a href="#top" id="bottom"></a>
    <div class="container">
        <div class="first-content">
            <div class="left-content">
                <h1>From Small Things, Big Things Grow</h1>
                <p>Established in 2005 as a family-run business, Home Comfort Europe unites form and function with quality and affordability. Our
                    signature collections are testament to innovative British design and a master level of craftsmanship. Every day, we tranform
                    beautiful wood into extraordinary furniture.</p>
                <p>Read our brand's story <a href="{% url 'about_us' %}" class="readLink">here</a>.</p>
            </div>
            <div class="right-content"><img src="{% static 'mainapp/images/Heritage-Furniture-Wesbite-Visual-10.jpg' %}" alt="image"/></div>
            <div class="clear"></div>
        </div>

        <div class="elegent">
            <div class="slider-multi">
                <div class="item" style="background:#bcb7b3;">
                    <div class="leftImg">
                        <img src="{% static 'mainapp/images/slider_1' %}"
                             alt="Wharf Oak Living &amp; Dining" width="400" height="400"/>
                    </div>
                    <div class="rightTxt">
                        <div class="innerTxt">
                            <h2>Modern Industrial Style</h2>
                            <h1>Wharf</h1>
                            Imbued with the rich, dark warmth and rustic appeal of rough-sawn solid oak, combined with sturdy black metal frames that
                            lend each piece a loft-living-style industrial feel.
                        </div>
                    </div>
                </div>

                <div class="item" style="background:#b6bab9;">
                    <div class="leftImg">
                        <img src="{% static 'mainapp/images/slider_2' %}"
                             alt="Carno Oak Living &amp; Dining" width="400" height="400"/>
                    </div>
                    <div class="rightTxt">
                        <div class="innerTxt">
                            <h2>Timeless Parquet</h2>
                            <h1>Carno</h1>
                            There's a lot to admire in this expertly crafted range of naturally blond oak furniture. There's the suits-any decor
                            natural warmth of the timber - with the unique grain patterns showcased through a protective layer of matt lacquer.<br/>
                        </div>
                    </div>
                </div>

                <div class="item" style="background:#608693;">
                    <div class="leftImg">
                        <img src="{% static 'mainapp/images/slider_3' %}"
                             alt="Sunbury Painted Living &amp; Dining" width="400" height="400"/>
                    </div>
                    <div class="rightTxt">
                        <div class="innerTxt">
                            <h2>It's in the details</h2>
                            <h1>Sunbury</h1>
                            It's in the details. The solid parquet tops, the grooves on the doors and drawers, the beautifully turned legs on the
                            smaller pieces, the cup drawer handles and silver-coloured door knobs.
                        </div>
                    </div>
                </div>

                <div class="item" style="background:#8aaaa7;">
                    <div class="leftImg">
                        <img src="{% static 'mainapp/images/slider_4' %}"
                             alt="Alba Rough Sawn Living &amp; Dining" width="400" height="400"/>
                    </div>
                    <div class="rightTxt">
                        <div class="innerTxt">
                            <h2>Modern Farmhouse Style</h2>
                            <h1>Alba</h1>
                            Our skilfully crafted rough sawn living and dining range offers traditional farmhouse style with a modern twist. With the
                            warmth, durability and timeless good looks of solid oak, this is furniture that will last a lifetime.<br/>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="categoryList">
            <ul class="category-List">
                <li>
                    <div class="imgWrp">
                        <img src="{% static 'mainapp/images/bedroom_index.jpg' %}" alt="Bedroom"/>
                    </div>

                    <div class="txtWrp">
                        <h1>Bedroom</h1>
                        <p>Rooms of dreams. Open your eyes to a bedroom transformation. From Scandi Cool to classic country living, this is where its
                            at. Personalise with pops of colour.</p>
                    </div>
                </li>
                <li class="alternate">
                    <div class="txtWrp">
                        <h1>Living Room</h1>
                        <p>Living room ranges which set standards high. A recognition of treasured traditional vibes, giving way to the modernity of
                            the form and function associated with living easier.</p></div>
                    <div class="imgWrp">
                        <img src="{% static 'mainapp/images/living_room_index.jpg' %}" alt="Living Room"/>
                    </div>
                </li>

                <li>
                    <div class="imgWrp">
                        <img src="{% static 'mainapp/images/dinning_room_index.jpg' %}" alt="Dining Room"/>
                    </div>

                    <div class="txtWrp">
                        <h1>Dining Room</h1>
                        <p>Pull up a chair, dinner is served. Traditional, mid-century or contemporary, the only constant is quality. Pine, oak or
                            leather, curate the elements for a special space.</p></div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
