{% extends 'news_base.html' %}
{% load static %}

{% block news %}
<div class="container">
   <div class="success-content">
       <br>
       <ul class="news-list">
           <li>
                <div class="news-text">
                    <div class="header-tag">
                    <div class="newsName">
                        <h2>FORMULA FOR SUCCESS</h2>
                        </div>
                        <span>11-Dec-2019</span>
                    </div>
                    <p>Being bold and standing out has proved to be a formula for success for Home Comfort Europe, the Blackburn-based family business.
                        Its unique approach to delivering furniture that makes people stop and think has seen the company report a highly successful 2019.
                        cabinetmaker caught up with Sid ...
                    </p>
                    <a href="{% url 'concrete_news' 'formula_for_success' %}">Read More</a>
                </div>
               <div class="news-img">
                    <img src="{% static 'mainapp/images/formula_for_success.jpg' %}">
                </div>
               <div class="clear"></div>
            </li>
           <li>
               <div class="news-text">
                    <div class="header-tag">
                    <div class="newsName">
                        <h2>PARTNERING FOR SUCCESS</h2>
                        </div>
                        <span>03-Sep-2019</span>
                    </div>
                    <p>Sid Mohmed, sales director at Home Comfort Europe, talks to cabinetmaker about how the business is partnering in many ways with retailers and how it can utilise social media to drive footfall into stores.
The furniture industry has a reputation for reacting slowly to trends, especially when it ...</p>
                    <a href="{% url 'concrete_news' 'partnering_for_success' %}">Read More</a>
                </div>
               <div class="news-img">
                    <img src="{% static 'mainapp/images/partnering_for_success.jpg' %}">
                </div>
               <div class="clear"></div>
           </li>
           <li>
               <div class="news-text">
            <div class="header-tag">
            <div class="newsName">
                <h2>A DIFFERENT APPROACH</h2>
                </div>
                <span>12-Jul-2019</span>
            </div>
                <p>Samir Sayed, marketing manager at Home Comfort Europe, talks to Cabinet Maker about their different approach to help retailers and why their message should be heard in these tough times.
    It's so quiet, customers are not coming into the shops and business is down.
    Without a doubt, things are ...</p>
                <a href="{% url 'concrete_news' 'a_different_approach' %}">Read More</a>
            </div>
               <div class="news-img">
                   <img src="{% static 'mainapp/images/a_different_approach.jpg' %}">
               </div>
               <div class="clear"></div>
           </li>
           <li>
               <div class="news-text">
                <div class="header-tag">
                <div class="newsName">
                <h2>FURNITURE MAKER APPOINTS NEW SALES AGENT</h2>
                </div>
                <span>11-Jul-2019</span>
                </div>
                <p>Furniture manufacturer Home Comfort Europe has announced the appointment of Tony Di Vito as its new sales agent.
                Covering the Midlands region, Tony has been in the furniture industry for over 30 years as sales director for various upholstery companies and in 2014 became a sales agent covering the ...</p>
                <a href="{% url 'concrete_news' 'furniture_maker_appoints_new_sales_agent' %}">Read More</a>
                </div>
               <div class="news-img">
                <img src="{% static 'mainapp/images/furniture_maker_appoints_new_sales_agent.jpg' %}">
                </div>
               <div class="clear"></div>
           </li>
           <li>
               <div class="news-text">
                   <div class="header-tag">
                    <div class="newsName">
                        <h2>LIVING THE DREAM</h2>
                        </div>
                        <span>10-May-2019</span>
                    </div>
                   <p>Saeed Mohmed, managing director at Home Comfort Europe, speaks to Cabinet Maker on how the journey to Minerva has transformed the business forever.
        The last five years have been nothing short of hard work, graft and, as Home Comfort Europe boldly states, full of 'blood, sweat and tears'. The latter ...</p>
                   <a href="{% url 'concrete_news' 'living_the_dream' %}">Read More</a>
               </div>
               <div class="news-img">
                   <img src="{% static 'mainapp/images/living_the_dream.jpg' %}">
               </div>
               <div class="clear"></div>
           </li>
       </ul>
   </div>
</div>
{% endblock %}