{% extends 'for_content.html' %}
{% load static %}

{% block content %}
<div class="dynamic-design">
    <div class="content-Image">
        <div class="container">
            <div class="leftContent">
                <h2>DYNAMIC DESIGNS FOR DISCERNING TASTES</h2>
                <p>At Home Comfort Europe, our in-house designer lives and breathes ergonomics and aesthetics, drafting blueprints for collections including beds, dining tables, sideboards and display cabinets. Featuring exquisite details such as Jai ironwork, rustic textures, precision angles and eye-catching curves, our collections unite contemporary functionality and style with vintage and eastern influences.</p>
            </div>
            <div class="rightContent">
                <img src="{% static 'mainapp/images/product-20.jpg' %}" alt="image">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="banner content-banner product21">
    <div class="bannerText innerbannerText">
        <div class="banner-content banner-contentv1">
            <h2>ACCOMPLISHED CRAFTSMANSHIP</h2>
            <p>With so much of the industry’s output mass produced, Home Comfort Europe guarantees all designs are conceived in-house, before being manufactured to the highest standard. Thanks to facilities  across the globe, we are able to produce world-class furniture from a vast array of woods. Pine, oak, sheesham... the opportunities are endless.</p>
        </div>
    </div>
</div>
<div class="dynamic-design">
    <div class="content-Image">
        <div class="container">
            <div class="leftContent">
                <h2>OUR CUSTOMERS ARE OUR FAMILY</h2>
                <p>A B2B company, our client base is constantly expanding. We serve the retail sector with dedication -- supplying furniture stores, hotels, shops, boutiques and restaurants. With family so important to us, we consider our customers our second kin. Our team of charismatic service staff go above and beyond every time, making buying a pleasurable experience.</p>
            </div>
            <div class="rightContent">
                <img src="{% static 'mainapp/images/product-22.jpg' %}" alt="image">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="banner content-banner product24">
    <div class="bannerText innerbannerText">
        <div class="banner-content banner-contentv1">
            <h2>THERE WHENEVER YOU NEED</h2>
            <p>Stock is consistently available, housed in a 100,000 sq ft distribution centre. Outstanding variety and reliable delivery is the icing on the cake. Whether you seek wall mirrors, wine racks, dressers, tables, beds, chairs or something else, Home Comfort Europe constantly produce exciting new collections, evolving with the demands of the world.</p>
        </div>
    </div>
</div>
<div class="dynamic-design">
    <div class="content-Image">
        <div class="container">
            <div class="leftContent">
                <h2>REACHING HIGHER EVERY YEAR</h2>
                <p>When Heritage began, it was just a tiny seed. Over a decade, our quintessential British business grew, challenging industry standards and maturing with our customer base. Just like an acorn which turns into an oak, our entrepreneurial spirit cultivated something big. Home Comfort Europe stands today, thanks to the relentless pursuit of perfection.</p>
            </div>
            <div class="rightContent">
                <img src="{% static 'mainapp/images/product-26.jpg' %}" alt="image">
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="quoteDiv">
    <div class="message-Wrp">
        <h2>A MESSAGE FROM OUR FOUNDER</h2>
        <p>Design and purpose is the foundation of what we do at Heritage. We design for your comfort, we design for functionality, <br>
        we design so it looks beautiful...<br>
        Heritage continuously strives in creating inspirational furniture that constantly evolves to reflect how we live for today and tomorrow. Creating value and delivering exemplary service is our relentless pursuit.</p>
        <h4>MO MOHMED</h4>
        <small>Co-Founder</small>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}