{% extends 'for_content.html' %}

{% block content %}
<div class="headerName">
     <div class="container">
	<div class="breadcrum">
		<ul>
		  <li><a href="{% url 'index' %}">Home |</a></li>
		  <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
		</ul>
	 </div>
	  <h3>Privacy Policy</h3>
      </div>
   </div>
<div class="container">
 <div class="success-content">
       <p><strong>A.      Introduction</strong></p>
<p><strong>1.      Interpretations:</strong></p>
<p>Heritage Furniture UK Limited ( “we”, “our” or “us”)</p>
<p>Customer (“you”, or “your”) – meaning the company purchasing ‘goods’ from us.</p>
<p><strong>2.      Opening Statement:</strong></p>
<p>Welcome to www.heritagefurnitureuk.com the furniture trade website operated by Heritage Furniture UK Ltd.</p>
<p>Heritage Furniture UK Ltd recognises that your privacy is very important to you and that it is your right to control your information. We know that providing such information is an act of trust and we take that trust seriously.</p>
<p>Heritage Furniture UK Ltd will never sell, rent or otherwise disclose any of your information, including email addresses, to any third party without your prior and explicit consent. Unless you give us specific consent to act otherwise, the following privacy policy will govern how Heritage Furniture UK Ltd handles the information that you provide to us.</p>
<p>This is a legal document that sets out how Heritage Furniture UK Ltd handles data that identifies you and your company. You should read it in conjunction with the Heritage Furniture UK Ltd Terms and Conditions of which this Privacy Policy forms part.</p>
<p>Access to this notice is provided at the bottom of every page on our website and at every point where personally identifiable information may be required.</p>
<p><strong>B.      Full policy statement:</strong></p>
<p><strong>1.      Collection and Use of Information.</strong></p>
<p>Heritage Furniture UK Ltd collects the following types of information when you become a customer:</p>
<p>1.1 Contact Details</p>
<p>• Company Name</p>
<p>• Invoice Address</p>
<p>• Delivery Address</p>
<p>• Contact Name</p>
<p>• Contact Email Address</p>
<p>• Telephone Number</p>
<p>• Fax Number</p>
<p>• Website Address</p>
<p>What we use it for: To set up a customer account in such a way that allows us to communicate effectively with you, to fulfil orders and keep you updated with marketing information which can be opted out of at any time.</p>
<p>1.2 Legal Information</p>
<p>• VAT Number</p>
<p>• Company Registration Number</p>
<p>What we use it for: To validate whether a customer is a bona fide trade customer</p>
<p><strong>2.     Our Customers and Disclosure of Information</strong></p>
<p>We realise that due to the nature of our business, we supply a number of customers each of whom may be competitors in the general marketplace. Because of this, Heritage Furniture UK Ltd is committed to protecting your account information. This includes, but is not limited to: the types of products you are buying, the quantities of product you are buying, the prices you are paying, and other similar and sensitive account information.</p>
<p>The only circumstances in which we will divulge your information to third parties without your consent except:</p>
<p>2.1 Disclosure for legal reasons</p>
<p>We reserve the right to communicate such of a User’s personal information as we hold to third parties which seek the disclosure of it, and which make a legally compliant request for its disclosure.</p>
<p>2.2 Performance of our operations</p>
<p>The service is necessary for the performance of our operations: such as delivery, protecting us from fraud, and payment of your account.</p>
<p>2.3 Changes to Heritage Furniture UK Ltd's Business</p>
<p>If the assets Heritage Furniture UK Ltd use to operate its business are acquired by a third party, we may transfer personal data we then hold to that party. If Heritage Furniture UK Ltd buys or sells subsidiaries or business units then in such transactions customer information is one of the transferred assets, but would remain subject to the commitments made in any pre-existing Privacy Policy or equivalent.</p>
<p><strong>3.     Technical Information</strong></p>
<p>We use the non-personally identifiable information and certain technical information about your computer in order to operate, maintain and manage heritagefurnitureuk.com</p>
<p>3.1 Cookies</p>
<p>Heritage Furniture UK Ltd uses cookies to help speed up the login process and for security purposes. A cookie is a small amount of data that identifies you as a unique user that is sent to your web browser from a web server and stored on your computer. We use cookies to improve the quality of our service and make the service easier to use for our customers. We do this by storing user preferences in cookies and by tracking user trends - for example, we use cookies to allow you to automatically log in to the service after the first user session.</p>
<p>Most browsers are initially set up to accept cookies. You can reset your browser to refuse all cookies or to indicate when a cookie is being sent. Be aware, however, that some parts of www.heritagefurnitureuk.com may not function properly if you refuse cookies.</p>
<p>More detailed information on cookies may be found in the Help section of your web browser.</p>
<p><strong>4.     Aggregate business analyses</strong></p>
<p>Heritage Furniture UK Ltd also provides analyses of our customers in the aggregate to prospective partners, advertisers and other third parties. We do this so that we can fine-tune our forward planning, and keep improving the service we provide. We may also disclose, on an anonymous basis, literal statements made by our customers.</p>
<p>Linked websites are not under the control of Heritage Furniture UK Ltd and we are not responsible for the conduct of companies linked to our website. Before disclosing any information on any other website we advise you to examine their terms and conditions of use.</p>
<p><strong>5.     Controlling Your Personal Information</strong></p>
<p>5.1 Transfer of information</p>
<p>We will not supply your data to a third party for commercial exploitation unless explicitly authorised by you; so you can rest assured that we will not sell your name, personal details or email addresses to any third party without express consent from you.</p>
<p>The only circumstances in which we will provide any of your personal data to a third party for non-commercial purposes are those contained in this Privacy Policy.</p>
<p><strong>6.     Security And Prevention Against Loss, Misuse Or Alteration Of Information</strong></p>
<p>6.1 Information storage</p>
<p>All information you provide to us is stored in the UK only on secure servers that are protected in secure facilities including firewall protection.</p>
<p>Heritage Furniture UK Ltd has implemented such technology and security features, as well as strict internal guidelines, to safeguard the privacy of your information from unauthorised access or improper use. We will continue to enhance security as new technology becomes available.</p>
<p>While we make every effort to ensure that your information is secure on our system, no data transmission over the Internet can be guaranteed to be 100% secure. As a result, we cannot guarantee the security of any information you transmit to us, and you do so at your own risk.</p>
<p>Your Heritage Furniture UK Ltd website account information is password-protected for your privacy and security. You can play an important role in keeping your personal information secure by maintaining the confidentiality of your password used on the Heritage Furniture UK Ltd web site. We recommend that you change your password from time to time for additional security. Please advise us immediately if there is any unauthorised use of your account by any other Internet user or any other breach of security.</p>
<p>Internally, access to our customer database is only granted to key Heritage Furniture UK Ltd staff and the companies with whom we have hardware and software maintenance contracts (who are in turn bound by a privacy clause). In addition, the database is password protected to prevent unauthorised access. Backups are run to prevent loss of information, and our Internet servers are housed in secure facilities.</p>
<p>6.2 Data Retention Period</p>
<p>We will retain your personal data only as long as is necessary for the purposes to which you consent under Heritage Furniture UK Ltd Terms and Conditions and this Privacy Policy, or as is required by applicable law, and then we will delete it</p>
<p>6.3 Place Of Processing</p>
<p>The personal information held by us is held on and processed by computers situated in the United Kingdom</p>
<p><strong>7.     Opt-Out Policy:</strong></p>
<p>Your Ability To Edit And Cancel Your Account You can access your account on the website to update and correct the details that we gathered when you subscribed. You must be logged in to access this information. All information is password-protected so no one can access the information but you</p>
<p><strong>8.     Changes To This Privacy Policy</strong></p>
From time to time, Heritage Furniture UK Ltd will review and may edit this policy in accordance with potential changes to our business and as required by law. Heritage Furniture UK Ltd reserves the right to change its Privacy Policy at any time.
<p></p>
<p><strong>9. Use Of Your Information</strong></p>
<p>The information we collect is used for our own use in developing our website. In addition, we may use the information for the following purposes:</p>
<p>9.1. To provide you with information relating to our website, products or our services that you request from us.</p>
<p>9.2. To provide you with information on other products that we feel may be of interest to you.</p>
<p>9.3. To meet our contractual obligations to you.</p>
<p>9.4. To notify you about any changes to our website, including improvements, and service or product changes that may affect our website.</p>
<p>9.5 If you are an existing customer, we may contact you with information about goods and services similat to those that you have expressed an interest in previously via our website.</p>
<p>9.6 If you are a new customer, we will only contact you or allow third parties to contact you only when you have provided consent and only by those means you provided consent for.</p>
<p>9.7 If you do not want us to use your data for our or third parties use then you will always have the option to object to such use by contacting us.</p>
<p><strong>10.     Contacting Heritage Furniture UK Ltd</strong></p>
<p>If you have any questions about this privacy statement, the practices of this site, or your dealings with Heritage Furniture UK Ltd including requesting your data, you can contact us using the details below.</p>
<p>Should you have any questions concerning the Heritage Furniture UK Ltd privacy policy please contact us via the following channels:</p>
Heritage Furniture UK Ltd<br>
Unit 1, Prospect Mill <br>
Walter Street<br>
Blackburn<br>
Lancashire<br>
BB1 1TJ<br>
<br>
 </div>
</div>
{% endblock %}