{% extends 'for_content.html' %}
{% load static %}

{% block content %}
<div class="headerName">
    <div class="container">
        <div class="breadcrum">
            <ul>
                <li><a href="{% url 'index' %}">Home |</a></li>
                <li>
                    <a href="{% url 'collection' collection.pk %}">{{ collection.name}} | </a>
                </li>
                <li class="active">
                    <a href="{% url "type" type.pk %}">{{ type.name }} </a>
                </li>
            </ul>
        </div>
        <h3>{{ type.name }}</h3>
    </div>
</div>

<div class="container">
    <div id="frmProdListings">
        <div class="design-derection">
            <p>{{ type.description }}</p>
        </div>
        <div class="product-Range bed-product">
            <style>
                #myList li.hide {
                    display: none;
                }
            </style>
            <ul class="product-range-list" id="myList">
                {% for product in products %}
                <li class="show">
                    <div class="imgSection">
                        <a href="{% url "product" product.pk %}">
                            <img src="/media/{{ product.image }}" alt="{{ product.name }}">
                        </a>
                    </div>
                    <div class="textSection">
                        <h4><a href="{% url "product" product.pk %}">{{ product.name }}</a></h4>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}