{% extends 'for_content.html' %}
{% load static %}

{% block content %}
<div class="headerName">
    <div class="container">
        <div class="breadcrum">
            <ul>
                <li><a href="{% url 'index' %}">Home |</a></li>
                <li>
                    <a href="{% url 'collection' collection.pk %}">{{ collection.name}} | </a>
                </li>
                <li class="active">
                    <a href="{% url "type" type.pk %}">{{ type.name }} </a>
                </li>
            </ul>
        </div>
        <h3>{{ type.name }}</h3>
    </div>
</div>

<div class="container">
    <div id="frmProdListings">
        <div class="design-derection">
            <p>{{ type.description }}</p>
        </div>
        <div class="product-Range bed-product">
            <style>
                #myList li.hide {
                    display: none;
                }
            </style>
            <ul class="product-range-list" id="myList">
                {% for product in products %}
                <li class="show">
                    <div class="imgSection">
                        <a href="{% url "product" product.pk %}">
                            <img src="/media/{{ product.image }}" alt="{{ product.name }}">
                        </a>
                    </div>
                    <div class="textSection">
                        <h4><a href="{% url "product" product.pk %}">{{ product.name }}</a></h4>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="brochure-download footer-brochure">
        <style>
            #fade {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: black;
                z-index: 1001;
                -moz-opacity: 0.8;
                opacity: .80;
                filter: alpha(opacity=80);
            }

            #video {
                display: none;
                position: absolute;
                /*top: 50%;*/
                left: 50%;
                max-width: 1200px;
                max-height: 680px;
                margin-left: -600px;
                margin-top: -180px;
                border: 2px solid #FFF;
                background: #FFF;
                z-index: 1002;
                overflow: visible;
            }

            #boxclose {
                float: right;
                cursor: pointer;
                color: #fff;
                border: 1px solid #AEAEAE;
                border-radius: 3px;
                background: #222222;
                font-size: 31px;
                font-weight: bold;
                display: inline-block;
                line-height: 0;
                padding: 11px 3px;
                position: absolute;
                right: 2px;
                top: 2px;
                z-index: 1002;
                opacity: 0.9;
            }

            .boxclose:before {
                content: "×";
            }

            #fade:hover ~ #boxclose {
                display: none;
            }

        </style>

        <div id="video">
            <a class="boxclose" id="boxclose" onclick="videobox_close();"></a>
            <video id="VisaChipCardVideo" width="1200" controls="">
                <source src="{% static 'mainapp/video/FINAL_Promo_heritage.mp4' %}" type="video/mp4">
            </video>
        </div>

        <div id="fade" onclick="videobox_close();"></div>
        <ul>
            <li><a href="#video" onclick="videobox_open();">
                <div class="imgTop"><img src="{% static 'mainapp/images/Video-image-569x117-original.jpg' %}" alt="background">
                    <div class="top-Text brocher">
                        <div class="book">
                            <img src="{% static 'mainapp/images/play-button.png' %}" alt="play">
                        </div>
                        <div class="tagN">
                            <h3>NEW WEBSITE FEATURES</h3>
                            <h1>WATCH</h1>
                        </div>
                    </div>
                </div>
            </a></li>
            <li>
                <a href="#">
                    <div class="imgTop"><img src="{% static 'mainapp/images/HF-Website-Visuals-30.jpg' %}" alt="background">
                        <div class="top-Text brocher">
                            <div class="book">
                                <img src="{% static 'mainapp/images/book.png' %}" alt="book">
                            </div>
                            <div class="tagN">
                                <h3>Download</h3>
                                <h1>Brochures</h1>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}