{% extends 'news_base.html' %}

{% block news %}
<div class="container">
     <div class="success-content">
           <br>

                <h2>A different approach</h2>
                 <p>Samir Sayed, marketing manager at Home Comfort Europe, talks to Cabinet Maker about their different approach to help retailers and why their message should be heard in these tough times.</p>
<p>It's so quiet, customers are not coming into the shops and business is down.</p>
<p></p>
<p>Without a doubt, things are tough for many retailers. Call it what you want, Brexit, lack of confidence, the weather! With footfall in rapid decline, what is a furniture retailer to do? Newspaper adverts are no longer drawing in the crowds and those periodic sales are seemingly more cliché.</p>
<p></p>
<p>As the marketing manager at Home Comfort Europe, hearing all this I feel the pain. Which leads me to the question — what is it that we can do to help retailers?</p>
<p></p>
<p><strong>Collections that stand out</strong></p>
<p>Let's break this down. There is no shortage of cabinet furniture. Commercial ranges have flooded the market, resulting in retailers stocking the same-looking furniture all because they can get it at a cheap price. At Heritage, we focus on bringing out unique designs that can help retailers stand out in the marketplace.</p>
<p></p>
<p><strong>Retailers need strong ranges that are distinct on their shop floor</strong></p>
<p>There are a number of benefits for investing in a range that is slightly different from the stock you hold. If displayed right, it can improve footfall. Some of these ranges like the Sunbury or the Alba have distinct features that not only attract passing traffic, they can be used as talking points or conversation starters.</p>
<p></p>
<p>We have seen this work with our customers. One retailer had the Sunbury displayed beautifully in a prime location by the window. They complemented the display with premium upholstery, which resulted in an amazing display that attracted potential customers into the store.</p>
<p>The additional benefit for our customer came when they realised it was attracting a new younger audience who they don't traditionally serve.</p>
<p></p>
<p><strong>Pricing that works</strong></p>
<p>When flash sales are the only thing retailers end up using to try to get punters in this can seriously hit margins, resulting in even more pressure to sell more. How we have tried to resolve this is by improving our pricing strategy to ensure retailers can secure higher margins whilst offering a competitive price. The focus then becomes more on maximising the opportunity on each customer who walks in. At Heritage, we have designed it so you make more margin selling our collections compared to other suppliers.</p>
<p></p>
<p><strong>But apart from that what more can suppliers do?</strong></p>
<p></p>
<p>This question has been playing on my mind. The latest initiative I have tried is running a promotion over a period of time to take away the barrier for retailers to purchase from us. Whilst this has worked for some, others commented 'great offer but I just don't have the traffic coming in.'</p>
<p></p>
<p><strong>So we are back to square one</strong></p>
<p>The reality is, each retailer is different and the challenges they face differ from one to another, which makes applying a blanket approach redundant. The approach I have found to be more effective is simply going to retailers and asking how we can help, then sitting back and listening. It is surprising to see the responses we get.</p>
<p></p>
<p>In our arsenal of support, we have a number of tools that can help retailers with options that work for them. At the Manchester Furniture Show, Heritage is ready to give you all the support you need to get you through these turbulent times. Just drop by at stand D20 to find out more.</p>

        </div>
   </div>
{% endblock %}