{% extends 'news_base.html' %}

{% block news %}
   <div class="container">
     <div class="success-content">
           <br>
                <h2>Formula for success</h2>
                 <p>Being bold and standing out has proved to be a formula for success for Home Comfort Europe, the Blackburn-based family business.</p>
<p>Its unique approach to delivering furniture that makes people stop and think has seen the company report a highly successful 2019.</p>
<p>Cabinet Maker caught up with Sid Momed, Sales Director and co-founder, to look back over the past 12 months, but also focus on what exciting plans the company has for 2020.</p>
<p>Like many in the UK furniture industry, the January Furniture Show in 2019 proved to be the start of something special for the year.</p>
<p>It’s often seen as an event that sets the tone, and for Heritage, that was certainly the case.</p>
<p>Heritage used last year’s show as the right opportunity&nbsp; to launch two new ranges - the Sunbury Painted collection, and the Alba Rough Sawn.</p>
<p>It’s fair to say that both the living and dining collections had a tremendous reception at the show with the company receiving some fantastic feedback.</p>
<p>The Sunbury introduced parquet tops with intricate geometric design, whilst the Alba "focused on a heavy thick rough sawn look which had a country farmhouse look and feel".</p>
<p>Sid describes the approach as "bold". And it proved to be a good approach, for not only did the launch at the show generate excellent sales, but the success continued through the year.&nbsp;</p>
<p>In fact, Sid goes as far as to say that the launches were the most successful launches to date for Heritage.</p>
<p>He said: "We have more display ranges and significantly increased our presence on the shop floor with these two new ranges.</p>
<p>"And we have also grown our presence in Scotland, and two new agents joined the team, covering the Midlands and East Anglia. This was a solid foundation, and it proved to pay off, as rapid growth was achieved."</p>
<p>Creating standout designs and being bold stood the company in good stead for 2019, and it is evident that this style of thinking is being carried through into 2020 also.</p>
<p>The company is once again focusing on design, pushing itself to come up with something different, whilst still aligning towards the current trends resonating in the market.</p>
<p>Based on the success of the Sunbury and Alba, Heritage listened closely to feedback identifying what worked.</p>
<p>It is part of what makes Heritage tick that it responds to the market, and listens to what customers are asking for. It’s sometimes said that the furniture industry has a habit of producing a set formula with little choice but Heritage sees itself as a pioneer in creating what people want and need.</p>
<p>For Heritage, a range like Alba just stands out. It is something about the "strong thick looks that invite people to notice it in a way that just works" in a variety of settings and styles.&nbsp;</p>
<p>Because of this, Heritage wanted to build on the success by pushing the design further - moving it towards the industrial style whilst still maintaining the solid feel and look of country oak/farmhouse.</p>
<p>The new range - to be unveiled at the January Furniture Show - will have a darker finish, "something that our customers have been calling for.</p>
<p>"These thicker ranges tend to be marketed towards the higher end," explained Sid. "But as our customers know, we have a unique ability to be able to bring those high-end designs to the mass market without compromising on the quality.</p>
<p>"It is something that we have a track record of doing quite successfully."</p>
<p>Similarly, the second range that Heritage is launching builds upon the elegant and stand out parquet tops and intricate geometric features.</p>
<p>Unlike the Sunbury, Heritage is looking to apply those to a more contemporary Scandi range which is still very much in vogue.</p>
<p>Both new ranges are designed with practicality and versatility in mind, and the collections are flexible allowing it to work as a complete set or as part of a blend of styles.</p>
<p>The new ranges will be exclusively unveiled at the 2020 January Furniture Show, where people can go and see it at Hall 5 Stand C55. Retailers will be able to place orders for immediate delivery."&nbsp;</p>
<p>It will be exciting to find out what Heritage has up its sleeve for the new products, and, given that Heritage has a reputation for delivering affordable style, the stand is likely to be popular with visitors.</p>
<p>And if the new products follow in the same vein as the Alba and the Sunbury, then it looks like 2020 will be another great chapter in the success story that is Heritage.</p>
        </div>
   </div>
{% endblock %}