{% extends 'news_base.html' %}

{% block news %}
<div class="container">
 <div class="success-content">
       <br>

            <h2>Furniture maker appoints new sales agent</h2>
             <p>Furniture manufacturer Heritage Furniture has announced the appointment of Tony Di Vito as its new sales agent.</p>
<p>Covering the Midlands region, Tony has been in the furniture industry for over 30 years as sales director for various upholstery companies and in 2014 became a sales agent covering the East and West Midlands.</p>
<p></p>
<p>Commenting on his appointment, Heritage said: "Tony has gathered a vast amount of knowledge and experience during this time. He will be a great support to our customers, sharing both the passion and value Heritage brings to retailers.</p>
<p></p>
<p>"We all at Heritage wish him every commercial success and are delighted to have him on board."</p>
<p></p>
<p>Tony added: "I look forward to working with Heritage Furniture, they have great collections that stand out and a fantastic reputation in the industry."</p>                <!-- <a title="Click here to go back main news" href="https://www.heritagefurnitureuk.com/news.php" class="link2 left"> <strong>&lt;&lt;&nbsp;Back to main news</strong></a> -->

    </div>
</div>
{% endblock %}