{% extends 'news_base.html' %}

{% block news %}
<div class="container">
 <div class="success-content">
       <br>

            <h2>Living the Dream</h2>
             <p>Saeed Mohmed, managing director at Heritage Furniture, speaks to Cabinet Maker on how the journey to Minerva has transformed the business forever.</p>
<p>The last five years have been nothing short of hard work, graft and, as Heritage Furniture boldly states, full of 'blood, sweat and tears'. The latter trio analogy often relates to long hours of continuous effort to achieve a certain goal. For Heritage Furniture, the ambition was to join the elite within the Minvera Furniture Group. This year the company reached its goal.</p>
<p></p>
<p>Saeed Mohmed, managing director at Heritage Furniture, shared the journey of securing Minerva status with Cabinet Maker — a feat that the company is incredibly proud of achieving.</p>
<p></p>
<p>"The thought of being part of the Minerva Furniture Group was merely a dream. Upon hearing about this exclusive buyers club for the top furniture retailers in the country many years back, it triggered a series of changes. Five years later and we can finally announce that Heritage Furniture is not only part of the Minerva group but will also be exhibiting at the celebrated event (which takes place from 14th-15th May at Stoneleigh Park Exhibition Centre in Warwickshire). However, reaching this milestone has not been easy. In fact, the journey has been paved with blood, sweat and tears!" said Saeed.</p>
<p></p>
<p>The business began its journey in a reflective mood, identifying product areas that needed addressing across the industry, incorporating new designs and then feeding these fresh products into the marketplace. Saeed explains its five-fold strategy a little further.</p>
<p></p>
<p><strong>The need for change</strong></p>
<p></p>
<p>"A few years back like many suppliers, traditional oak ranges were popular. However, the market was reflecting a lot of similar products and it was getting more difficult to stand out. Customers wanted something different, the landscape was becoming competitive and retailers needed a change. The same old oak products were not going to cut it anymore," Saeed said.</p>
<p></p>
<p><strong>Focus on design</strong></p>
<p></p>
<p>With this in mind, Heritage Furniture took renewed focus towards 'great design' and, as a company, made the decision to move into a new direction. This proved to be a 'great decision' that would help retailers to stock different products and ultimately give end customers 'great looking furniture'. However, going down this path saw the business inject more investment in designers, product development and operations.</p>
<p></p>
<p><strong>Exclusive debut launch – BUT dealing with what came next</strong></p>
<p></p>
<p>"It finally happened. After getting the designers, doing the research and staying up all hours in preparation to go to market, the Wardley range was ready and it was a great success," highlights Saeed, continuing: "Retailers loved the new range and the price. However, the success was short lived. The popularity of the range meant that other suppliers were not going to stand by and watch. Variations of Wardley started to appear on the market, pricing became more competitive and established suppliers maintained market share.</p>
<p></p>
<p>"It was a pretty massive blow. On the one side, it confirmed the strategy — the design was good — but on the other, the realisation that the competition was not going to stand by idle. We needed to up our game again."</p>
<p></p>
<p><strong>The relaunch</strong></p>
<p></p>
<p>Heritage Furniture took the bold approach in taking another risk by doubling down on product development and significantly investing in marketing. Saeed revealed: "A rebrand had to be done to reflect our new position and Heritage was going to focus on producing quality designer ranges at prices that were affordable. This was the only option to penetrate this market place, to show we were serious about great design and committed to giving retailers the edge."</p>
<p></p>
<p>Heritage's commitment didn't falter and during 2018 the business launched four more unique ranges, which included Skien, a timeless Scandinavian collection that suits contemporary tastes and just so happens to be the company's current bestseller.</p>
<p></p>
<p>"Retailers once again reacted positively to the ranges," Saeed said. "More retailers came on board, some of whom are Minerva members. On asking them why they chose Heritage as opposed to others, they said it was the combination of great design and great price. Many retailers were positioning the collections to be sold as designer furniture. As a result, they were benefitting from higher margins."</p>
<p></p>
<p><strong>Being part of Minerva</strong></p>
<p></p>
<p>The final part of the five-step strategy was achieved at the back end of last year when Heritage Furniture was invited to be part of the Minerva group. Saeed explained: "It was after a successful January Furniture Show in 2018 that the goal of becoming a Minerva member came to fruition. In December 2018 this dream became a reality and the team at Minerva welcomed Heritage into the group. Four months in and the number of Minerva members who have become Heritage customers hasmore than doubled. It's been an overwhelming success story so far for us."</p>
<p></p>
<p>Along this journey, Heritage has taken each opportunity to showcase its products to the industry and has enjoyed high volumes of success at mainstream tradeshows, including both the January and Manchester furniture shows. Following its attendance at Minerva, Heritage can next be seen during the Manchester Furniture Show in July and then again at the Autumn Furniture Show later this year in October.</p>
<p></p>
<p>For now, Saeed and Heritage will embrace what Minerva has to offer and continue on its journey of 'great design'.</p>
<p></p>
<p>"Minerva definitely played a part in changing the focus of Heritage in a good way," Saeed said, concluding: "The goal now is to continue to excel in producing great innovative designs, whilst having a business model to support all retailers to ensure they enjoy high margins."</p>                <!-- <a title="Click here to go back main news" href="https://www.heritagefurnitureuk.com/news.php" class="link2 left"> <strong>&lt;&lt;&nbsp;Back to main news</strong></a> -->

    </div>
</div>
{% endblock %}