{% extends 'news_base.html' %}

{% block news %}
<div class="container">
    <div class="success-content">
       <br>

            <h2>Partnering for Success</h2>
             <p>Sid Mohmed, sales director at Heritage Furniture, talks to Cabinet Maker about how the business is partnering in many ways with retailers and how it can utilise social media to drive footfall into stores.</p>
<p>The furniture industry has a reputation for reacting slowly to trends, especially when it comes to customer experience whilst shopping and adopting marketing strategies for their business. The industry predominantly still implements old school tactics, like seasonal sales and advertising in the local paper, which, for the most part, makes sense. The goal is to drive footfall to the store so that consumers can make a purchase.</p>
<p></p>
<p>However, with the way purchasing behaviour and habits have changed, those High Street retailers who solely rely on this footfall traffic for business are the ones most likely to suffer the most when the economy takes a hit - just like Brex... Actually, lets not go there!</p>
<p></p>
<p>Cabinet Maker caught up with Sid Mohmed, sales director at Heritage, who regularly visits retailers and often finds himself asking the question: what other channels do they use to sell through?</p>
<p></p>
<p>“Most have some web presence and basic social media set-up, like Facebook or Instagram,” Sid said, continuing: “However, a large majority of them still struggle to make an impact. Even some of the larger retailers who have cash resources still miss the mark when it comes to using social media as they post but get very little engagement or reaction to the latest collections.”</p>
<p></p>
<p>So whether you are established in digital marketing or one who can scream out at the mere sight of a post, Sid has shared an insight into some tips that could help increase engagement, with the aim to benefit footfall.</p>
<p></p>
<p><strong>The basics - make sure you have a website.</strong></p>
<p></p>
<p>“In 2019 you would think this is a no brainer. However, the number of retailers who I have seen with no or a very basic website is alarming. I would argue having a website is business-critical as it acknowledges your existence on the web.</p>
<p></p>
<p>“The simple fact is that this is the first step most customers do - use Google to look you up whether they know about you or not. Then closely second is to ensure your website looks respectable.</p>
<p></p>
<p>“I say this with the utmost respect but, as consumers, we make snap judgements when visiting a website and if you have a poorly-designed site, which does not do justice to your retail outlet, then you are the one who will really miss out. The site design on the most basic level helps establish credibility and trust.”</p>
<p></p>
<p><strong>Social media</strong></p>
<p></p>
<p>“Facebook has been a godsend to many retailers, allowing the potential to reach out to a whole new customer base online. It is mostly free and has a very low cost of advertising compared to the traditional newspaper adverts out there. If you are not using Facebook and Instagram, then as a retailer you are significantly missing out. Not only in attracting a new audience, but in terms of building awareness, and standing out in this competitive market place.”</p>
<p></p>
<p><strong>Moving beyond a post</strong></p>
<p></p>
<p>“Now, this is the fun part. As an independent retailer, you can really stand out and compete with the likes of massive High Street brands with huge marketing departments.</p>
<p></p>
<p>“In order to maximise this medium, retailers need to move away from just splashing the latest collection and saying ‘buy now’. No one likes to be sold to, but as consumers we do like to engage.”</p>
<p></p>
<p><strong>So what's the secret to effective Social Media?</strong></p>
<p></p>
<p>It is pretty simple, the key is in the name -- ‘social’, as Sid explains: “Your potential customers are craving content, engagement and entertainment. They want to be involved in the conversation. Engage your audience by asking for opinions, utilising polls and prompting a reaction.</p>
<p></p>
<p>“I was talking to one retailer about our Alba collection, which has the option for a bench to go with the dining table instead of chairs. I said, ‘why not ask online which do you prefer, carry out a poll with both options’. This is just one example, but thinking a little bit outside of the box can really produce some tremendous results -and plenty of engagement.”</p>
<p></p>
<p><strong>The big question: How to use Social Media to increase footfall?</strong></p>
<p></p>
<p>“It doesn’t just stop at getting interactions and feedback. You can use social media to organise events to get people to come into the store.</p>
<p></p>
<p>“I regularly advise our customers to partner up with other local businesses. For example, if you have a bakery nearby, have a free doughnut day at your store. Get people to check-in using Facebook and take a pic on Instagram whilst tagging your outlet. Not only are you helping out your local area by joining forces with other independents, you will soon see an uplift in traffic, as well as creating an experience that will be talked about - and, of course, shared!” Sid said.</p>
<p></p>
<p>Heritage pays special attention on being able to see the challenges retailers are constantly having to face and the way the industry is going. By doing this, the company has been able to forge closer partnerships with its retailers and help them make the change into the digital world.</p>
<p></p>
<p>“Retailers need to evolve or risk being one of the casualties of these times,” Sid revealed, adding: “At Heritage we try to offer support above and beyond providing furniture and prices.</p>
<p></p>
<p>“In the spirit of partnership, suppliers need to help retailers to get up to speed, provide support and get them to adopt and change to see their business thrive.”</p>
<p></p>
<p>For more information regarding partnering with Heritage, contact <a href="javascript:location.href=&#39;mailto:&#39;+String.fromCharCode(115,105,100,64,104,101,114,105,116,97,103,101,102,117,114,110,105,116,117,114,101,117,107,46,99,111,109)+&#39;?&#39;">sid@heritagefurnitureuk.com</a></p>
<p></p>
<p>Heritage Furniture will also be exhibiting at the Autumn Furniture Show in October, so make sure you drop by the stand at Hall 2.</p>                <!-- <a title="Click here to go back main news" href="https://www.heritagefurnitureuk.com/news.php" class="link2 left"> <strong>&lt;&lt;&nbsp;Back to main news</strong></a> -->

    </div>
</div>
{% endblock %}